<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<div class="mb-10">
  <%= link_to 'New Post', new_post_path, class: 'button' %>
</div>

<div>
  <div>
    <% @posts.includes(:user).each do |post| %>
      <%= render partial: "post", locals: {post: post} %>
    <% end %>
  </div>
</div>